{# Open Graph #}
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ title or '' }}{{ ' – ' if page.url != '/' }}{{ site.title }}">
<meta property="og:description" content="{{ description or site.description }}">
<meta property="og:image" content="./assets/images/osvb-logo.webp"> {# Duplikat?! #}
<meta property="og:image" content="./assets/images/og-image.webp">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:locale" content="no_NO">

{# Twitter Card #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:title" content="{{ title or '' }}{{ ' – ' if page.url != '/' }}{{ site.title }}">
<meta name="twitter:description"
content="{{ description or site.description }}">
<meta name="twitter:image" content="./assets/images/og-image.webp">
<meta name="twitter:url" content="{{ page.url }}">
