---
title: Om klubben
permalink: '/om-klubben/index.html'
---

{% extends "base.njk" %}

{% block content %}
      <h1 class="title ">{{ title }}</h1>
      <div class="ingress">
        <p>Oslo Sandvolleyballklubb organiserer turneringer og treninger for nybegynnere, etablerte og proffe spillere som vil ha et morsomt og sosialt forhold til sandvolleyball.</p>
      </div>

      <p>Vi har som mål å legge til rette for et voksende sandvolleyballmiljø i Oslo. Vi brenner for å organisere <a
          href="#">turneringer</a> og <a href="#">treninger</a>
        for både etablerte spillere og nybegynnere, som vil ha et morsomt og sosialt forhold til en flott idrett!
      </p>

      <article class="teaser">
        <a href="#" class="teaser__link">
          <div class="teaser__content">
            <h2 class="teaser__title">Klubben søker fler som vil bidra</h2>
            <p class="teaser__excerpt">Hvor mange OSVB-ere trenger du for å organisere et stadig bedre tilbud til en
              stadig større klubb? Ikke vet vi, men vi vet at vi aldri kan få for mange flinke folk!</p>
          </div>
          <img class="teaser__image" src="/assets/images/good-boy.webp" alt="">
        </a>
      </article>

      <details>
        <summary>Styre (siden 28. feb. 2022)</summary>
        <dl>
          <div>
            <dt>Styreleder:</dt> 
            <dd>Sven Andreas Nygaard</dd>
          </div>
          <div>
            <dt>Nestleder:</dt> 
            <dd>Håkon Tveitan </dd>
          </div>
          <div>
            <dt>Styremedlemmer:</dt>
            <dd>Johanne Halseth</dd>
            <dd>Hanne Dalen</dd>
            <dd>Stine Schjødt-Osmo</dd>
            <dd>Ruben Løvli</dd>
            <dd>Haidar Nuri</dd>
            <dd>Vilde Barth</dd>
            <dd>Helga Lindheim (vara)</dd>
          </div>
        </dl>                 

        <p>Tilgang på referater fra styremøter i OSVB: <a href="#">Møtereferater</a></p>
      </details>

      <details>
        <summary>Komitéer og ressurspersoner</summary>
        <dl>
          <div>
            <dt>Valgkomité 2022</dt>
            <dd>Marte Haldorsen, Katinka Muri Krahn</dd>
          </div>

          <div>
            <dt>Kontrollutvalg:</dt>
            <dd>
              Leder: Geir Inge Rødseth,<br>
              Medlemmer: Maren Rygh, Hilde Naas Rødseth
            </dd>
          </div>

          <div>
            <dt>Resurspersoner (ikke oppdatert)</dt>
            <dd>
              <strong>Organisering av frivillige</strong>: Kristiina Öis<br>
              <strong>Hovedtrener &amp; Spond</strong>: Kjetil Tellnes og Ruben Løvli <br>
              <strong>Turneringssjef</strong>: Stine Schjødt Osmo<br>
              <strong>Turneringsledere</strong>: Stine Schjødt Osmo, Vera Garberg, Kristiina Öis<br>
              <strong>Sponsing</strong>: Ruben Løvli, Mats Lindqvist, Kristiina Öis<br>
              <strong>Klubbklær</strong>: Kristiina Öis<br>
              <strong>Teknisk sjef (baner)</strong>: Geir Inge Rødseth<br>
              <strong>Nettside</strong>: Martin Berglund<br>
              <strong>Riggsjef Jernbanetorget</strong>: Johan Wathne<br>
              <strong>Streaming</strong>: Sindre Svendby<br>
              <strong>Norges Tour og lisenser</strong>: Håkon Tveitan<br>
            </dd>
        </div>
      </dl>
      </details>


      <details>
        <summary>Historie</summary>
        <p>18.Juli 2000 - Hammerfest, etter endt turnering sitter en gjeng og spiser middag, ideen om å starte
          Oslo Sandvolleyballklubb blir født og de blir enige om å stifte klubben i løpet av 4 mnd. 19. September
          2000 blir klubben stiftet av bl.a Roar Sundbø som på det tidspunktet også var leder av av Norges
          Volleyballforbund. Jan Kvalheim ble «tildelt» klubbens medlemskap nr. 1, dette var omtrent samtidig som
          han spilte sin siste offisielle kamp under OL i Sydney.</p>

          <p>I samarbeid med Oslo Kommune fikk klubben bygget to sandvolleyballbaner innerst i hjørnet på grassletta
          på Voldsløkka. Historien har noen hull her fram til ca. 2006 - om noen har lyst til å supplere, send oss
          gjerne en epost.</p>

          <p>I 2006 kom Bret Roberts, fra Califorina, og startet opp den aktiviteten som la grunnlaget for klubben
          som den fremstår i dag. Aktiviteten vokste raskt, og behovet for flere baner meldte seg tydelig. Et nytt
          styre ble etablert med Stian Hagen som styreleder, han og samboer Live Sundland Johansen gjorde en
          formidalbel innsats for å få bygget de 8 banene vi har i dag.</p>

          <p>I 2011 hadde klubben 122 betalende medlemmer og kapasiteten på de to banene var sprengt, ikke ulikt
          dagens situasjon. Vi hadde 616 aktive utøvere i 2021, til tross for strenge pandemirestriksjoner i 2020
          og 2021. Så langt i 2022 ser det ut til å gå mot nye medlemsrekorder og behovet for flere baner er
          stadig økende.. på tide å starte neste kapittel.</p>
      </details>

      <p>Ris, ros, spørsmål, gode og dårlige forslag kan rettes til <a href="#">post@osvb.no</a>.
        Vi kan også kontaktes på <a href="#">Facebook</a>.</p>

      <figure class="figure">
        <img class="figure__image" src="./assets/images/wilson.webp" alt="">
      </figure>
{% endblock content %}
