---
layout: 'base.njk'
---
 
<nav class="menu">
  <ul>
    {% for item in site.menu %}
      <li>
        <a href="{{ item.url or '#' }}">{{ item.title }}</a>
        {# <p>{{ item.description }} #}
      </li>
    {% endfor %}
  </ul>
</nav>

<div class="scroll-container">
  <div class="side-scroll">
    <div class="posts">
      <div></div>
      {% for post in collections.post | sort(false, false, "data.date") | reverse %}
        <article class="polaroid">
          <img src="{{ post.data.media }}" eleventy:widths="360" alt="">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </article>
      {% endfor %}
      <div></div>
    </div>
  </div>
</div>
