  <div class="hero {{ 'hero--home' if page.url === '/' }}">
    <picture>
      <source srcset="/assets/images/hero-large.webp" media="(min-width: 1080px)">
      <source srcset="/assets/images/hero-medium.webp" media="(min-width: 720px) and (max-width:1078px)">
      <img class="" src="/assets/images/hero-small.webp" alt="" loading="eager" fetchpriority="high">
    </picture>
  </div>
