<aside class="sponsors">
  <h2 class="sponsors__title">Sponsorer</h2>
  <div class="sponsor-line sponsor-line--one"></div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <div class="sponsor-line" style="flex-grow: 3; background-position: 100%; min-inline-size: var(--edge-in)"></div>
    <a href="#" style="flex-grow: 1">
      <img src="/assets/images/shades-of-norway.svg" width="307" height="160" loading="lazy" alt="Shades of Norway" fetchpriority="low" async>
    </a>
    <a href="#" style="flex-grow: 1">
      <img src="/assets/images/torshov-sport.svg" width="307" height="160" loading="lazy" alt="Torshov Sport" fetchpriority="low" async>
    </a>
    <div class="sponsor-line" style="flex-grow: 3; background-position: 0%; min-inline-size: var(--edge-in)"></div>
  </div>
  <div class="sponsor-line sponsor-line--tree"></div>
</aside>
