---
title: 'Kalender'
description: 'Alt du trenger å vite om de ulike turneringene og arrangementene  i Oslo sandvolleyballklubb.'
layout: base.njk
permalink: '/kalender/index.html'
---

<div>
<h1 class="title ">{{ title }}</h1>
<p>{{ description | safe }}</p>
</div>

<h2 style="text-transform: uppercase; font-size: 85%; font-weight: 800; margin-block: 3em 1em">Juli</h2>
<ul class="events">
    {% for item in collections.event %}
    <li class="event-listing">
        <time class="cal-day" datetime="{{ item.data.date }}">
            <span>{{ (item.data.date | dateOnly).slice(0,3) }}</span>
            <span>{{ (item.data.date | dateOnly).slice(4,7) }}</span>
        </time>
        <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
        <p>{{ item.data.time }}</p>
    </li>
    {% endfor %}
</ul>

<h2 style="text-transform: uppercase; font-size: 85%; font-weight: 800; margin-block: 3em 1em">August</h2>
<ul class="events">
    {% for item in arrangementer %}
    <li class="event-listing">
        <time class="cal-day" datetime="{{ item.date }}">
            <span>{{ (item.date | dateOnly).slice(0,3) }}</span>
            <span>{{ (item.date | dateOnly).slice(4,7) }}</span>
        </time>
        <a href="#">{{ item.title | safe }}</a>
        <p>{{ item.time }}</p>
    </li>
    {% endfor %}
</ul>
<aside class="aside"></aside>