{% extends "base.njk" %}

{% block content %}
    <article class="page">
      <h1 class="page__title  page__title--offset">{{ title }}</h1>
      <div class="page__ingress">
        {{ description | safe }}
      </div>
      {{ content | safe }}
    </article>
{% endblock content %}