---
layout: 'base.njk'
---

{% if showParent %}
  {% set navPages = collections.all | eleventyNavigationBreadcrumb(title) %}
  {% for item in navPages %}   
    <a class="kicker" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
{% endif %}

<h1 class="title ">
  {{ title }}
</h1>

{% if media %}
<div class="thumbnail">
  <img src="{{ media }}" eleventy:widths="360, 640" alt="">
</div>
{% endif %}

<div class="ingress">
  <p>{{ description | safe }}</p>
</div>

{{ content | safe }}
