{% extends "base.njk" %}

{% block breadcrumbs %}
  {% if parent %}
    <div class="breadcrumbs">&larr; <a href="{{ parent.url }}">{{ parent.title }}</a></div>
  {% endif %} 
{% endblock %}



{% block content %}  
    <h1 class="title">{{ title }}</h1>

    <dl class="event-data">
        <div>
            <dt>Dato</dt>
            <dd>{{ date_start | dateFormat('DDDD') | capitalize }}</dd>
        </div>
        <div>
            <dt>Tid</dt>
            <dd>{{ date_start | dateFormat('T') | replace(':', '.') }}–{{ date_stop | dateFormat('T') | replace(':', '.') }}</dd>
        </div>
        <div>
            <dt>Turneringsleder</dt>
            <dd>Ola Nordmann</dd>
        </div>
        <div>
            <dt>Bane</dt>
            <dd>{{ court | safe }}</dd>
        </div>
    </dl>

    {% if media %}
    <div class="thumbnail">
    <img src="{{ media }}" alt="">
    </div>
    {% endif %}


    {{ content | safe }}
{% endblock %}
<aside class="aside"></aside>