---
layout: 'base.njk'
---
 

<nav class="menu">
  <ul>
    {% for item in site.menu %}
      <li>
        <a href="{{ item.url or '#' }}">{{ item.title }}</a>
        {# <p>{{ item.description }} #}
      </li>
    {% endfor %}
  </ul>
</nav>

{{ content | safe }}


<div class="scroll-overflow">
  <div class="scroll-container">
    <div class="post-list">
      <div class="edge-spacer"></div>
      {% for post in collections.post | sort(false, false, "data.date") | reverse %}
        <article class="post">
          {# <img src="{{ post.data.media }}" eleventy:widths="360" alt=""> #}
          <a class="post__title" href="{{ post.url }}">{{ post.data.title }}</a>
          <div class="post__emoji">{{ post.data.emoji }}</div>
          <div class="tags">
            {% for tag in post.data.tags | exclude('post') %}
            <span>#{{ tag }}</span>
            {% endfor %}
          </div>
        </article>
      {% endfor %}
      <div class="edge-spacer"></div>
    </div>
  </div>
</div>
