<nav class="nav  nav--subpages">
      <button class="nav__toggle" type="button" aria-expanded="false" data-nrk-core-toggle-2-2-3="false"
        aria-controls="lrf9l9ipqzo" id="lrf9l9iptmk">
        <span>Meny</span>
        <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24">
          <g fill-rule="evenodd">
            <rect width="20" height="2" x="2" y="4"></rect>
            <rect width="20" height="2" x="2" y="11"></rect>
            <rect width="20" height="2" x="2" y="18"></rect>
          </g>
        </svg>
      </button>

      <ul class="nav__menu  nav__menu--subpages" id="lrf9l9ipqzo" aria-labelledby="lrf9l9iptmk" hidden="">
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Kalender
          </a>
        </li>
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Booking
          </a>
        </li>
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Treninger
          </a>
        </li>
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Turneringer
          </a>
        </li>
        <li class="nav__menu-item nav__menu-item--active">
          <a class="nav__menu-link" href="#">
            Om klubben
          </a>
        </li>
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Medlemskap
          </a>
        </li>
        <li class="nav__menu-item ">
          <a class="nav__menu-link" href="#">
            Nyhetsbrev
          </a>
        </li>
      </ul>
    </nav>