{# Open Graph #}
<meta property="og:type" content="website">
<meta property="og:site_name" content="Oslo Sandvolleyballklubb">
<meta property="og:title" content="{{ title | safe }} – Oslo Sandvolleyballklubb">
<meta property="og:description" content="Oslo Sandvolleyballklubb organiserer turneringer og treninger for nybegynnere, etablerte og proffe spillere som vil ha et morsomt og sosialt forhold til sandvolleyball.">
<meta property="og:image" content="./assets/images/osvb-logo.webp"> {# Duplikat?! #}
<meta property="og:image" content="./assets/images/og-image.webp">
<meta property="og:url" content="/om-klubben">
<meta property="og:locale" content="no_NO">

{# Twitter Card #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Oslo Sandvolleyballklubb">
<meta name="twitter:title" content="{{ title | safe }} – Oslo Sandvolleyballklubb">
<meta name="twitter:description"
content="Oslo Sandvolleyballklubb organiserer turneringer og treninger for nybegynnere, etablerte og proffe spillere som vil ha et morsomt og sosialt forhold til sandvolleyball.">
<meta name="twitter:image" content="./assets/images/og-image.webp">
<meta name="twitter:url" content="/om-klubben">
