    <aside class="aside">
      <div class="sponsors">
        <h2 class="sponsors__title">Sponsorer</h2>
        <div class="sponsors__content">
          <div class="sponsors__item">
            <a class="sponsors__link" href="#">
              <img class="" src="./assets/images/shades-of-norway.webp" alt="Shades of Norway">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link" href="#">
              <img class="" src="./assets/images/torshov-sport.webp" alt="Torshov Sport">
            </a>
          </div>

        </div>
      </div>
    </aside>
